:root {
  background-color: rgb(79, 111, 82);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

header {
  background-color: #3a4d39;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  padding: 20px;
}

.container {
  display: flex;
  gap: 5em;
  justify-content: center;
}

.board-container {
  background-color: #739072;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  width: 50%;
  height: 50%;
  max-height: 25em;
  max-width: 25em;
  border: 1px solid #ece3ce;
  border-radius: 5px;
  padding: 10px;
}

.game-square {
  border: 1px solid black;
  aspect-ratio: 1;
}

.game-square#ship {
  background-color: #ece3ce;
}

#cpu .game-square:hover,
.ship-menu > button:hover {
  background-color: rgb(255, 229, 229);
}

#cpu .game-square:active {
  background-color: rgb(255, 255, 255);
}

#winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  background-color: red;
  padding: 30px;
}

.hit-ship {
  background-color: #630505;
}

.ship-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #3a4d39;
  border: 1px solid black;
  border-radius: 5px;
}

.ship-menu > button {
  border-radius: 5px;
  border: 1px solid black;
  width: 10rem;
  height: 2rem;
  background-color: rgb(184, 207, 255);
  color: rgb(26, 26, 26);
  font-size: large;
  font-weight: bold;
}

.ship-menu > h5 {
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}

.ship-menu > p {
  color: white;
  font-size: x-large;
  font-weight: bolder;
  border-bottom: solid black 1px;
}

.ship-select-btn.disabled-btn,
#temp-disable {
  background-color: #3a4d39;
}

.ship-select-btn.disabled-btn:hover,
#temp-disable:hover {
  background-color: #3a4d39;
}

.selected {
  border: 7px dotted #ece3ce;
}

.mouse-tracer {
  /* width: 100px; */
  /* height: 100px; */
  background-color: rgb(52, 106, 255);
  border: 1px solid rgb(230, 230, 230);
  position: absolute;
  visibility: hidden;
  opacity: 80%;
  /* point events for ignore the tracer div via listeners */
  pointer-events: none;
}
